body {
    background-color: #eeeeee;
    font-family: 'Roboto Mono', monospace;
}

#root {
    margin: 0 auto;
    background-color: #cccccc;
    width: 300px;
    text-align: center;
    padding: 10px;
    border: 2px solid #333333;
}

.row {
    margin: 5px auto;
}

#screen {
    width: 80%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0 auto;
    text-align: right;
    color: #eeeeee;
    font-size: 24px;
    border: 3px solid #333333;
    background-color: #aaaaaa;
}

.button {
    display: inline-block;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #eeeeee;
    width: 45px;
    height: 45px;
    border: 3px solid #333333;
    background-color: #aaaaaa;
    margin: 5px 5px;
}